<!-- game/templates/base.html -->
<html lang="fi" ng-app="areenaApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Areena 4 remake{% endblock %}</title>
    {% load static %}

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/arena.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/combat-log.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gladiator-info.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon/favicon.ico' %}" type="image/x-icon">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- JavaScript -->
    <script src="{% static 'js/app.js' %}"></script>

</head>
<body>
<!--[navbar tänne]-->
<div class="componentContainer">
    <!-- Placeholder for Arena Component -->
    <div class="arena" ng-controller="arenaController">
        {% include 'arena.html' %}
    </div>


    <!-- Placeholder for Manager Component -->
    <div class="manager"></div>

    <!-- Placeholder for Combat Log Component -->
    <div class="combat-log"></div>

    <!-- Placeholder for Gladiator Info Component -->
    <div class="gladiator-info"></div>
    </div>


</body>
</html>